<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Show_Author{% endblock %}

{% block content %}
<table border=1 align="center">
	<tr>
		<th width="162">姓名</th>
		<th width="112">ID</th>
		<th width="112">年龄</th>
		<th width="112">国别</th>
		<th width="112">操作</th>
	</tr>
	{% for author in authors %}
	<tr>
		<td>{{author.Name}}</td>
		<td>{{author.AuthorID}}</td>
		{% if author.Age %}
			<td>{{author.Age}}</td>
		{% else %}
			<td>不详</td>
		{% endif %}
		<td>{{author.Country}}</td>
		<td><a href="{% url 'bookmanager.views.Deleteauthor' author_pk=author.AuthorID %}">删除</a></td>
	</tr>
	{% endfor %}
</table>
<p>
<a href="{% url 'bookmanager.views.Addauthor' %}">添加新作家</a>
</p>
{% endblock %}